<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Calculator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" class="container">
        <h1>Tip Calculator</h1>
        <p>Enter the bill amount and tip percentage to calculate the total.</p>
        <label for="bill">Bill amount:</label>
        <input type="number" id="bill" v-model="bill">
        <br/>
        <label for="tip">Tip percentage:</label>
        <input type="number" id="tip" v-model="tipPercentage">
        <br/>
        <button  id="calculate" @click="calculateTotal">Calculate</button>
        <br/>
        <label for="total">Total:</label>
        <span id="total">{{ total }}</span>

    </div>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            setup() {
                 const bill = ref(0);
        const tipPercentage = ref(0);
        const total = ref('');

                const calculateTotal = () => {
                    total.value = (bill.value * (1 + tipPercentage.value / 100)).toFixed(2);
                }

                return {
                    bill,
                    tipPercentage,
                    total,
                    calculateTotal
                }
            }
        }).mount('#app')
        </script>
</body>
</html>